.main {
  background-color: #f4f4f4;
  padding-top: 30px;
}
.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  padding-top: 76px;
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
}

.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  font-weight: lighter;
  padding: 14px;
  text-decoration: none;
}
.viceClankuBtn {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #8e8e8d;
  color: #333;
}
.headerText {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.redBox:hover {
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.12) !important;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.doporuceneDouble {
  display: flex;
  justify-content: center;
  align-items: center;
}
.doporuceneItem {
  background-color: white;
  width: 200px;
}
.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  /* margin: auto; */
}
.image {
  background-image: url("https://www.vodafone.cz/public/galleries/33/32189/hpcbu2208_mobil_1536x2072-3.jpg?0aea0b6dcd82519ce8d073c4cac93b2e");
  background-position: bottom center;
  background-color: #fff;
}
.prejitBtn {
  border-radius: 5px;

  margin-bottom: 0px;
  height: 47px;
  margin-bottom: 30px;
}
.prejitBtn:hover {
  background-color: #f8f8f8;
  border-color: #434241;
  color: #333;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1023px) {
  .main {
    padding-top: 100px;
  }
}
