.main {
  background-color: #f4f4f4;
}
.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  padding-top: 76px;
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
}

.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  font-weight: lighter;
  padding: 14px;
  text-decoration: none;
}
.viceClankuBtn {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #8e8e8d;
  color: #333;
}
.headerText {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.redBox:hover {
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.12) !important;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.doporuceneDouble {
  display: flex;
  justify-content: center;
  align-items: center;
}
.doporuceneItem {
  background-color: white;
  width: 200px;
}
