.headerText {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.outerBox {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
}
.box {
  margin: auto;
  background-color: white;
  border-radius: 15px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  margin-bottom: 30px;
}
.box img {
  width: 80%;
  max-width: 300px;
}
.box h1 {
  text-align: center;
}
.box p {
  text-align: center;
  font-size: 12px;
}
.box input {
  margin-block: 30px;
  padding: 10px;
  text-align: center;

  border-radius: 10px;
  outline: none;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  width: 90%;
}
.box button {
  margin-bottom: 30px;
}
.main {
  overflow-x: hidden;
  background-color: #f4f4f4;
}
@media screen and (min-width: 1024px) {
  .main {
    padding-top: 100px;
  }
}
