.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
  width: 95vw;
  margin: auto;
  height: auto;
  border-radius: 20px;
  font-size: 12px;
}

.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  font-weight: lighter;
  padding: 6px;
  text-decoration: none;
}
svg {
  height: 40px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  svg {
    height: 100px;
  }
  .scrollmenu a {
    padding: 10px 45px;
  }
}
