.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid #d6d6d6; */
}

.scrollmenu li {
  display: inline-block;
  color: black;
  text-align: center;
  font-weight: lighter;
  margin-inline: 10px;
  padding: 3px 8px;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.headerText {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.active {
  background-color: "#007c92";
  color: "white";
}
@media screen and (min-width: 560px) {
  .scrollmenu {
    justify-content: center;
  }
}
