.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin-bottom: 20px;
  padding: 20px;
  /* border-bottom: 1px solid #d6d6d6; */
}

.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  font-weight: lighter;
  margin-inline: 10px;
  padding: 3px 8px;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
}
.headerText {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
