.headerText {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.mainBox {
  background: linear-gradient(45deg, #a90000 0, #e60000 54.87%, red 100%);
  border-radius: 15px;
  padding: 15px 0;
}
.innerBox {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.itemLarge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 100%;
  bottom: -210px;
  position: relative;
  transition: bottom ease-out 0.4s;
  cursor: pointer;
}
.itemLarge:hover {
  bottom: 0;
}
.itemLarge h1 {
  color: white;
  text-align: center;
  font-size: 24px;
}
.itemLarge p {
  color: white;
  font-size: 16px;
}
.item {
  display: flex;
  margin-bottom: 25px;
  cursor: pointer;
}
.item img {
  width: 50px;
  height: 50px;
}
.item div h1 {
  font-size: 22px;
  color: white;
}
.item div p {
  font-size: 14px;
  color: white;
}
.innerBoxLarge {
  display: flex;
  align-items: baseline;
}
.mainBoxLarge {
  display: flex;
  position: relative;
  height: 425px;
  overflow: hidden;
  padding: 0;
  background: linear-gradient(45deg, #a90000 0, #e60000 54.87%, red 100%);
  border-radius: 15px;
  display: none;
}
/* .mainBoxLarge {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  mix-blend-mode: overlay;
  border-radius: 15px;
} */
@media screen and (min-width: 768px) {
  .mainBox {
    display: none;
  }
  .mainBoxLarge {
    display: flex;
  }
}
