.headerText {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.mainBox {
  background: linear-gradient(45deg, #a90000 0, #e60000 54.87%, red 100%);
  border-radius: 15px;
  padding: 15px 0;
}
.innerBox {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  margin-bottom: 25px;
  cursor: pointer;
}
.item img {
  width: 50px;
  height: 50px;
}
.item div h1 {
  font-size: 22px;
  color: white;
}
.item div p {
  font-size: 14px;
  color: white;
}
@media screen and (min-width: 768px) {
  .innerBox {
    display: none;
  }
}
