/* .main:hover {
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.12) !important;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.main {
  transition: 250ms;
}
.myblock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 568px) {
}
@media screen and (min-width: 768px) {
  img {
    max-width: 500px;
  }
}
 */
.secondImg {
  background-image: url("https://www.vodafone.cz/public/galleries/29/28565/vtv.png");
  margin: 15px 20px;
  padding-bottom: 0;
  font-size: 22px;
  background-size: cover;
  border-radius: 10px;
  background-position: bottom;
  min-height: 50vh;
  background-repeat: no-repeat;
}
.innerImg {
  padding: 20px;
}
#internetNaDoma {
  background-image: url("https://www.vodafone.cz/public/galleries/29/28556/secondary_1240x560_sport.jpg");
  min-height: 30vh;
}
.secondImg:hover,
.smallBox1:hover,
.smallBox2:hover {
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.12) !important;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  transition: 0.4s;
  cursor: pointer;
}
.smallBoxes {
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

@media screen and (min-width: 560px) {
  .secondImg {
    max-width: 500px;
    margin: auto;
    height: 100%;
  }
  .innerImg p {
    font-size: 20px !important;
    width: 200px !important;
  }
  .secondaryBox1,
  .secondaryBox2 {
    padding-top: 30px;
  }
  .smallBoxes {
    padding: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .mainBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
  .secondaryBox1 {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .secondImg {
    max-width: none;
    width: 95%;
    min-height: none;
  }
  .smallBoxes {
    max-width: none;
    width: 95%;
  }
}
