.main:hover {
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.12) !important;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.main {
  transition: 250ms;
}
.myblock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 568px) {
}
@media screen and (min-width: 768px) {
  img {
    max-width: 500px;
  }
}
