.myAccordion {
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
  padding-top: 20px;
}
.bottomul {
  padding-left: 10px;
}
.bottomul li {
  color: #979797;
  list-style: none;
  font-size: 13px;
}
.accordion-button:not(.collapsed) {
  background-color: none;
}
.greytext {
  color: #979797;
}
.spojte {
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  padding-top: 30px;
}
.footerIcons {
  /*  flex-wrap: wrap; */
}
.footerIcons div img {
  height: 40px;
}
.footerAccordionBody ul li {
  font-size: 12px;
  color: white;
  margin-top: 10px;
}
.socialIcon {
  margin-inline: 5px;
  margin-bottom: 50px;
}
