.myAccordion {
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
  padding-top: 20px;
}
.bottomul {
  padding-left: 10px;
}
.bottomul li {
  color: #979797;
  list-style: none;
  font-size: 13px;
}
.accordion-button:not(.collapsed) {
  background-color: none;
}
.greytext {
  color: #979797;
}
.spojte {
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  padding-top: 30px;
}
.spojteLarge {
  display: none;
}
.spojteLargeHeader {
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  padding-top: 30px;
  display: none;
}
.myAppsLarge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footerIcons {
  /*  flex-wrap: wrap; */
}
.footerIcons div img {
  height: 40px;
}
.footerAccordionBody ul li {
  font-size: 12px;
  color: white;
  margin-top: 10px;
}
.socialIcon {
  margin-inline: 5px;
  margin-bottom: 50px;
}
.footerList ul {
  list-style: none;
}
.footerList ul li {
  color: white;
  line-height: 2;
  font-size: 12px;
}
.footerList ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footerList {
  margin: auto;
  padding-top: 40px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .footerList {
    display: flex !important;
  }

  .myAccordion {
    display: none !important;
  }
  .spojte {
    display: none;
  }
  .socialIcon {
    display: none !important;
  }
  .socialIcon2 {
    display: block;
    padding-inline: 10px;
    margin-left: 10px;
  }
  .spojteLarge {
    display: block;
    padding-top: 30px;
    padding-left: 20px;
  }
  .spojteLargeHeader {
    display: block;
  }
  .footerIcons {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .footerList {
    display: none !important;
  }
}
