.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid #d6d6d6;
}
.menuBtn {
}
.topBurger {
  margin-right: 5px;
  padding: 0px !important;
}
.myBurger {
  /* margin: 20px 20px 0 0; */
  border-radius: 10px;
  height: 47px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  background: rgb(226, 5, 5);
  box-shadow: 0 7px 6px -4px rgba(255, 0, 0, 0.3);
  transition: background-color 0.4s ease;
}
.myBurger:hover {
  background-color: #cf0202;
}

.line1,
.line3 {
  width: 50%;
  height: 1px;
  background-color: white;
}
.line2 {
  width: 50%;
  height: 1px;
  background-color: white;
  margin: 6px 0;
}
.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  padding-top: 76px;
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  font-weight: lighter;
  padding: 14px;
  text-decoration: none;
}
.menuSticker {
  background-color: #e60000;
  position: absolute;
  top: 5px;
  right: -13px;
  z-index: 10;
  padding-top: 2px;
  padding-bottom: 1px;
  padding: 3px 7px 2px;
  padding-top: 3px;
  padding-bottom: 2px;
  display: inline-block;
  margin: 0 0 0 3px;
  color: #fff;
  border-radius: 10px;
  line-height: normal;
  font-family: VodafoneRg, "Arial CE", Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.modalUl {
  padding-left: 0;
}
.modalUl li {
  padding: 10px 0;
}
.modalUl li a {
  text-decoration: none;
  color: #484545;
  font-size: 22px;
}
.modalBody {
  background-color: #f6f6f6;
}
.topIcon {
  width: 30px;
  height: 30px;
  margin-inline-end: 20px;
}
#search {
  width: 25px;
  height: 25px;
}
#cart {
  width: 25px;
  height: 25px;
}
#profile {
  width: 23px;
  height: 23px;
}
.flexMenu {
  display: none;
}
.scrollmenuTop {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  background-color: white;
}

.scrollmenuTop a {
  display: inline-block;
  color: black;
  text-align: center;
  font-weight: lighter;
  padding: 14px;
  text-decoration: none;
  font-weight: normal;
  transition: 0.2s;
}
.scrollmenuTop a:hover {
  color: #e60000;
}
.secondMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
}
.prejitBtn {
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 0px;
  height: 47px;
}
.prejitBtn:hover {
  background-color: #f8f8f8;
  border-color: #434241;
  color: #333;
}
.prihlaseniBtn {
  border-radius: 5px;
  height: 47px;
}
.menuPrejitBtn {
  font-family: "SFMono-Regular,Menlo,Monaco,Consolas," Liberation Mono ","
    Courier New ",monospace";
}
@media screen and (min-width: 560px) {
  .scrollmenu {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .flexMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation {
    justify-content: flex-start;
  }
  .mobileMenu {
    display: none;
  }
  .scrollmenu {
    display: none;
  }
}
