.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid #d6d6d6;
}
.menuBtn {
}
.topBurger {
  margin-right: 5px;
  padding: 0px !important;
}
.myBurger {
  /* margin: 20px 20px 0 0; */
  border-radius: 10px;
  height: 47px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  background: rgb(226, 5, 5);
  box-shadow: 0 7px 6px -4px rgba(255, 0, 0, 0.3);
  transition: background-color 0.4s ease;
}
.myBurger:hover {
  background-color: #cf0202;
}

.line1,
.line3 {
  width: 50%;
  height: 1px;
  background-color: white;
}
.line2 {
  width: 50%;
  height: 1px;
  background-color: white;
  margin: 6px 0;
}
